<div class="navigation" [ngClass]="[activo]">
    <ul>
        <li>
            <a href="#">
                <span class="icon"><i class="fa-brands fa-apple"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-house"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-comment"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-question"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-gear"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
    </ul>
</div>